pre {
  line-height: 125%;
}

td.linenos .normal, span.linenos {
  color: #cad3f5;
  background-color: #1e2030;
}

td.linenos .special, span.linenos.special {
  color: #000;
  background-color: #ffffc0;
}

.hll {
  background-color: #ffc;
}

.c {
  color: #6e738d;
}

.err, .g {
  color: #cad3f5;
}

.k {
  color: #c6a0f6;
}

.l, .n {
  color: #cad3f5;
}

.o {
  color: #91d7e3;
}

.x {
  color: #cad3f5;
}

.p {
  color: #939ab7;
}

.ch, .cm {
  color: #6e738d;
}

.cp {
  color: #f5bde6;
}

.cpf, .c1, .cs {
  color: #6e738d;
}

.gd {
  color: #ed8796;
}

.ge {
  color: #cad3f5;
  text-decoration: underline;
}

.ges, .gr {
  color: #cad3f5;
}

.gh, .gi {
  color: #cad3f5;
  font-weight: bold;
}

.go {
  color: #6e738d;
}

.gp, .gs {
  color: #cad3f5;
}

.gu {
  color: #cad3f5;
  font-weight: bold;
}

.gt {
  color: #cad3f5;
}

.kc {
  color: #f5bde6;
}

.kd {
  color: #8bd5ca;
  font-style: italic;
}

.kn {
  color: #c6a0f6;
}

.kp, .kr {
  color: #f5bde6;
}

.kt {
  color: #8bd5ca;
}

.ld {
  color: #cad3f5;
}

.m {
  color: #f5a97f;
}

.s, .na {
  color: #a6da95;
}

.nb {
  color: #f5a97f;
  font-style: italic;
}

.nc {
  color: #eed49f;
}

.no, .nd, .ni, .ne {
  color: #cad3f5;
}

.nf {
  color: #7dc4e4;
}

.nl {
  color: #8bd5ca;
  font-style: italic;
}

.nn, .nx, .py {
  color: #cad3f5;
}

.nt {
  color: #f5bde6;
}

.nv {
  color: #cad3f5;
  font-style: italic;
}

.ow {
  color: #c6a0f6;
}

.pm {
  color: #939ab7;
}

.w {
  color: #cad3f5;
}

.mb, .mf, .mh, .mi, .mo {
  color: #f5a97f;
}

.sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
  color: #a6da95;
}

.bp {
  color: #ed8796;
  font-style: italic;
}

.fm {
  color: #7dc4e4;
}

.vc {
  color: #eed49f;
  font-style: italic;
}

.vg, .vi, .vm {
  color: #cad3f5;
  font-style: italic;
}

.il {
  color: #f5a97f;
}
