pre {
  line-height: 125%;
}

td.linenos .normal, span.linenos {
  color: #c6d0f5;
  background-color: #292c3c;
}

td.linenos .special, span.linenos.special {
  color: #000;
  background-color: #ffffc0;
}

.hll {
  background-color: #ffc;
}

.c {
  color: #737994;
}

.err, .g {
  color: #c6d0f5;
}

.k {
  color: #ca9ee6;
}

.l, .n {
  color: #c6d0f5;
}

.o {
  color: #99d1db;
}

.x {
  color: #c6d0f5;
}

.p {
  color: #949cbb;
}

.ch, .cm {
  color: #737994;
}

.cp {
  color: #f4b8e4;
}

.cpf, .c1, .cs {
  color: #737994;
}

.gd {
  color: #e78284;
}

.ge {
  color: #c6d0f5;
  text-decoration: underline;
}

.ges, .gr {
  color: #c6d0f5;
}

.gh, .gi {
  color: #c6d0f5;
  font-weight: bold;
}

.go {
  color: #737994;
}

.gp, .gs {
  color: #c6d0f5;
}

.gu {
  color: #c6d0f5;
  font-weight: bold;
}

.gt {
  color: #c6d0f5;
}

.kc {
  color: #f4b8e4;
}

.kd {
  color: #81c8be;
  font-style: italic;
}

.kn {
  color: #ca9ee6;
}

.kp, .kr {
  color: #f4b8e4;
}

.kt {
  color: #81c8be;
}

.ld {
  color: #c6d0f5;
}

.m {
  color: #ef9f76;
}

.s, .na {
  color: #a6d189;
}

.nb {
  color: #ef9f76;
  font-style: italic;
}

.nc {
  color: #e5c890;
}

.no, .nd, .ni, .ne {
  color: #c6d0f5;
}

.nf {
  color: #85c1dc;
}

.nl {
  color: #81c8be;
  font-style: italic;
}

.nn, .nx, .py {
  color: #c6d0f5;
}

.nt {
  color: #f4b8e4;
}

.nv {
  color: #c6d0f5;
  font-style: italic;
}

.ow {
  color: #ca9ee6;
}

.pm {
  color: #949cbb;
}

.w {
  color: #c6d0f5;
}

.mb, .mf, .mh, .mi, .mo {
  color: #ef9f76;
}

.sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
  color: #a6d189;
}

.bp {
  color: #e78284;
  font-style: italic;
}

.fm {
  color: #85c1dc;
}

.vc {
  color: #e5c890;
  font-style: italic;
}

.vg, .vi, .vm {
  color: #c6d0f5;
  font-style: italic;
}

.il {
  color: #ef9f76;
}
