on:
  workflow_dispatch:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: "ubuntu-latest"

    steps:
      - uses: "actions/checkout@v4"
      - uses: "actions/setup-python@v5"
        with:
          python-version: "3.x"
      - uses: "actions/setup-node@v4"
        with:
          node-version: "latest"
      - run: "pip install catppuccin[pygments,gh-pages]"
      - run: "scripts/build-gh-pages"
      - run: "npx lightningcss-cli --minify ./gh-pages/pygments/*.css --output-dir ./gh-pages/pygments/"
      - uses: "peaceiris/actions-gh-pages@v4"
        with:
          enable_jekyll: false
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          publish_branch: "gh-pages"
          publish_dir: "./gh-pages"
          user_email: "github-actions[bot]@users.noreply.github.com"
          user_name: "github-actions[bot]"
          cname: "python.catppuccin.com"
