name: Test
on:
  push:
    paths:
      - '**.py'
  pull_request:
    paths:
      - "**.py"
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: abatilo/actions-poetry@v2
        with:
          poetry-version: "1.2.2"
      - run: poetry config virtualenvs.create false
      - run: poetry install -E pygments
      - run: pytest --cov catppuccin
